name: Build

on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        oses: [
            {name: ubuntu-latest , extension: ""},
            {name: windows-latest, extension: ".exe"},
            {name: macos-latest  , extension: ""}
          ]

    runs-on: ${{ matrix.oses.name }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup
      if: matrix.oses.name != 'windows-latest'
      run: set -euo pipefail

    - name: Build
      run: cargo build -r --bin url-cleaner --bin url-cleaner-site --bin url-cleaner-discord-app

    - name: Upload
      if: runner.environment == 'github-hosted'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ runner.os }}
        if-no-files-found: error
        path: |
          target/release/url-cleaner${{ matrix.oses.extension }}
          target/release/url-cleaner-site${{ matrix.oses.extension }}
          target/release/url-cleaner-discord-app${{ matrix.oses.extension }}
          engine/src/cleaner/bundled-cleaner.json
          engine/src/cleaner/tests
          site/url-cleaner-site-userscript.js
