name: CLI

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_dev_DEBUG: 0

jobs:
  cli:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: 'Restore cache'
      if: runner.environment == null
      uses: actions/cache/restore@v4
      with:
        key: ${{ runner.os }}-cli-debug
        path: target

    - name: Setup
      run: |
        set -o pipefail
        cargo build -p url-cleaner
        cp target/debug/url-cleaner urlc

    - name: 'Save cache'
      if: runner.environment == null
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-cli-debug
        path: target

    - name: offline_tests
      run: ./urlc --tests engine/tests/offline.json

    - name: Order
      run: |
        in=$(seq -f "https://%0.0f.com/" 127)

        [[ "$(echo "$in" | ./urlc    )" == "$in" ]]
        [[ "$(             ./urlc $in)" == "$in" ]]
        [[ "$(echo "$in" | ./urlc $in)" == "$(echo -ne "$in\n$in")" ]]

        [[ "$(echo "$in" | ./urlc     --json | grep -oP 'https://[^"]+')" == "$in" ]]
        [[ "$(             ./urlc $in --json | grep -oP 'https://[^"]+')" == "$in" ]]
        [[ "$(echo "$in" | ./urlc $in --json | grep -oP 'https://[^"]+')" == "$(echo -ne "$in\n$in")" ]]

    - name: Deadlock
      run: yes "https://example.com" | head -n 100 | timeout 10s ./urlc --cleaner example-cleaners/deadlock-tester.json

    - name: Ratelimit
      run: |
        start=$(date +%s)
        yes http://127.0.0.1 | head -n 10                       | ./urlc --cleaner example-cleaners/ratelimit-tester.json --unthread --unthread-ratelimit 1
        end=$(date +%s)
        [[ 9 -le $(($end-$start)) && $(($end-$start)) -le 10 ]]

        start=$(date +%s)
        echo http://127.0.0.1                                   | ./urlc --cleaner example-cleaners/ratelimit-tester.json --unthread --unthread-ratelimit 3
        end=$(date +%s)
        [[ 0 -le $(($end-$start)) && $(($end-$start)) -le 1 ]]

        start=$(date +%s)
        (echo http://127.0.0.1; sleep 5; echo http://127.0.0.1) | ./urlc --cleaner example-cleaners/ratelimit-tester.json --unthread --unthread-ratelimit 3
        end=$(date +%s)
        [[ 5 -le $(($end-$start)) && $(($end-$start)) -le 6 ]]

    - name: Profiles
      run: |
        set -e

        PROFILES='{"base":{"params_diff":{"flags":["unmobile"]}},"named":{"youtube_unshort":{"params_diff":{"flags":["youtube_unshort"]}}}}'
        PARAMS_DIFF1='{"unflags":["unmobile"]}'
        PARAMS_DIFF2='{"unflags":["unmobile"],"flags":["mobile"]}'

        diff -y <(
          ./urlc --profiles-string "$PROFILES"                                                                'https://m.youtube.com/shorts/abc'
          ./urlc --profiles-string "$PROFILES"                           --params-diff-string "$PARAMS_DIFF1" 'https://m.youtube.com/shorts/abc'
          ./urlc --profiles-string "$PROFILES" --profile youtube_unshort                                      'https://m.youtube.com/shorts/abc'
          ./urlc --profiles-string "$PROFILES" --profile youtube_unshort --params-diff-string "$PARAMS_DIFF1" 'https://m.youtube.com/shorts/abc'

          ./urlc --profiles-string "$PROFILES"                                                                'https://youtube.com/shorts/abc'
          ./urlc --profiles-string "$PROFILES"                           --params-diff-string "$PARAMS_DIFF2" 'https://youtube.com/shorts/abc'
          ./urlc --profiles-string "$PROFILES" --profile youtube_unshort                                      'https://youtube.com/shorts/abc'
          ./urlc --profiles-string "$PROFILES" --profile youtube_unshort --params-diff-string "$PARAMS_DIFF2" 'https://youtube.com/shorts/abc'
        ) <(
          echo 'https://www.youtube.com/shorts/abc'
          echo   'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo   'https://m.youtube.com/watch?v=abc'
          echo 'https://www.youtube.com/shorts/abc'
          echo   'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo   'https://m.youtube.com/watch?v=abc'
        )
        diff <(./urlc --profiles <(echo "$PROFILES") --profile unknown |& cat) <(echo 'Error: ProfileNotFound')
