name: CLI

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_dev_DEBUG: 0

jobs:
  cli:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup
      run: |
        set -euo pipefail
        cargo build --bin url-cleaner
        cp target/debug/url-cleaner urlc

    - name: Output
      run: |
        in=$(seq -f "https://example.com/%0.0f" 127)

        diff <(echo "$in" | ./urlc    ) <(echo "$in")
        diff <(             ./urlc $in) <(echo "$in")
        diff <(echo "$in" | ./urlc $in) <(echo -e "$in\n$in")

    - name: Profiles
      run: |
        PROFILES='
        {
          "base": {
            "params_diff": {
              "vars": {
                "client_type": "desktop"
              }
            }
          },
          "named": {
            "youtube unshort": {
              "params_diff": {
                "flags": ["youtube_unshort"]
              }
            }
          }
        }'
        PARAMS_DIFF1='{"unvars": ["client_type"]}'
        PARAMS_DIFF2='{"vars": {"client_type": "mobile"}}'

        diff -y <(
          ./urlc --profiles <(echo "$PROFILES")                                                                   'https://m.youtube.com/shorts/abc'
          ./urlc --profiles <(echo "$PROFILES")                             --params-diff <(echo "$PARAMS_DIFF1") 'https://m.youtube.com/shorts/abc'
          ./urlc --profiles <(echo "$PROFILES") --profile "youtube unshort"                                       'https://m.youtube.com/shorts/abc'
          ./urlc --profiles <(echo "$PROFILES") --profile "youtube unshort" --params-diff <(echo "$PARAMS_DIFF1") 'https://m.youtube.com/shorts/abc'

          ./urlc --profiles <(echo "$PROFILES")                                                                   'https://youtube.com/shorts/abc'
          ./urlc --profiles <(echo "$PROFILES")                             --params-diff <(echo "$PARAMS_DIFF2") 'https://youtube.com/shorts/abc'
          ./urlc --profiles <(echo "$PROFILES") --profile "youtube unshort"                                       'https://youtube.com/shorts/abc'
          ./urlc --profiles <(echo "$PROFILES") --profile "youtube unshort" --params-diff <(echo "$PARAMS_DIFF2") 'https://youtube.com/shorts/abc'
        ) <(
          echo 'https://www.youtube.com/shorts/abc'
          echo   'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo   'https://m.youtube.com/watch?v=abc'
          echo 'https://www.youtube.com/shorts/abc'
          echo   'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo   'https://m.youtube.com/watch?v=abc'
        )

        diff <(./urlc --profiles <(echo "$PROFILES") --profile unknown |& cat) <(echo 'Error: ProfileNotFound')

    - name: 'Check bundled cleaner'
      run: |
        set -euo pipefail
        cargo run --bin urlc-tool -- test --filter '^offline' --assert-suitability
