name: Site

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_dev_DEBUG: 0

jobs:
  site:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup
      run: |
        set -euo pipefail
        cargo build -p url-cleaner-site
        cp target/debug/url-cleaner-site urlcs

    - name: Order
      run: |
        ./urlcs &
        sleep 1
        seq -f 'https://%0.0f.com' 127 | curl -f http://localhost:9149/clean --data-binary @- | sort -Vc
        kill $!

    - name: Profiles
      run: |
        PROFILES='{"base":{"params_diff":{"flags":["unmobile"]}},"named":{"youtube_unshort":{"params_diff":{"flags":["youtube_unshort"]}}}}'

        PARAMS_DIFF1='{"unflags":["unmobile"]}'
        PARAMS_DIFF2='{"unflags":["unmobile"],"flags":["mobile"]}'

        ./urlcs --profiles <(echo "$PROFILES") &
        site=$!
        sleep 1

        diff -y <(
          curl -sf "http://127.0.0.1:9149/clean"                                                                                     --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={                             "params_diff":'"$PARAMS_DIFF1"'}' --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={"profile":"youtube_unshort"                                 }' --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF1"'}' --data-binary 'https://m.youtube.com/shorts/abc'

          curl -sf "http://127.0.0.1:9149/clean"                                                                                     --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={                             "params_diff":'"$PARAMS_DIFF2"'}' --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={"profile":"youtube_unshort"                                 }' --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF2"'}' --data-binary 'https://youtube.com/shorts/abc'

          curl -sf "http://127.0.0.1:9149/clean"                                                                                     --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {                             "params_diff":'"$PARAMS_DIFF1"'}' --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {"profile":"youtube_unshort"                                 }' --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF1"'}' --data-binary 'https://m.youtube.com/shorts/abc'

          curl -sf "http://127.0.0.1:9149/clean"                                                                                     --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {                             "params_diff":'"$PARAMS_DIFF2"'}' --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {"profile":"youtube_unshort"                                 }' --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF2"'}' --data-binary 'https://youtube.com/shorts/abc'
        ) <(
          echo 'https://www.youtube.com/shorts/abc'
          echo 'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo 'https://m.youtube.com/watch?v=abc'

          echo 'https://www.youtube.com/shorts/abc'
          echo 'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo 'https://m.youtube.com/watch?v=abc'

          echo 'https://www.youtube.com/shorts/abc'
          echo 'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo 'https://m.youtube.com/watch?v=abc'

          echo 'https://www.youtube.com/shorts/abc'
          echo 'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo 'https://m.youtube.com/watch?v=abc'
        )

        ! curl -sf "http://127.0.0.1:9149/clean" -H 'X-Config: {"profile":"notfound"}' --data-binary ""

        kill $site

    - name: Passwords
      run: |
        PASSWORDS='["test"]'

        ./urlcs --passwords <(echo "$PASSWORDS") &
        sleep 1

        ! curl -sf 'http://127.0.0.1:9149/clean'                                               --data-binary ''
        ! curl -sf 'http://127.0.0.1:9149/clean'                                               --data-binary ''
        ! curl -sf 'http://127.0.0.1:9149/clean' --url-query   'config={}'                     --data-binary ''
        ! curl -sf 'http://127.0.0.1:9149/clean' -H          'X-Config={}'                     --data-binary ''
          curl -sf 'http://127.0.0.1:9149/clean' --url-query   'config={"password":"test"}'    --data-binary ''
          curl -sf 'http://127.0.0.1:9149/clean' -H          'X-Config={"password":"test"}'    --data-binary ''
        ! curl -sf 'http://127.0.0.1:9149/clean' --url-query   'config={"password":"invalid"}' --data-binary ''
        ! curl -sf 'http://127.0.0.1:9149/clean' -H          'X-Config={"password":"invalid"}' --data-binary ''

        kill $!
