name: Site

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_dev_DEBUG: 0

jobs:
  site:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup
      run: |
        set -euo pipefail
        cargo build --bin url-cleaner-site --bin url-cleaner-site-client
        cp target/debug/url-cleaner-site urlcs
        cp target/debug/url-cleaner-site-client urlcsc

    - name: 'Output'
      run: |
        ./urlcs &
        sleep 1
        in=$(seq -f "https://example.com/%0.0f" 127)
        for scheme in http ws; do
          diff <(echo "$in" | ./urlcsc clean $scheme://localhost:9149/clean | grep .) <(echo "$in" | grep .)
        done
        kill %1

    - name: 'Profiles'
      run: |
        PROFILES='
        {
          "base": {
            "params_diff": {
              "vars": {
                "client_type": "desktop"
              }
            }
          },
          "named": {
            "youtube unshort": {
              "params_diff": {
                "flags": ["youtube_unshort"]
              }
            }
          }
        }'
        PARAMS_DIFF1='{"unvars": ["client_type"]}'
        PARAMS_DIFF2='{"vars": {"client_type": "mobile"}}'

        ./urlcs --profiles <(echo "$PROFILES") &
        sleep 1

        for scheme in http ws; do
          diff -y <(
            echo 'https://m.youtube.com/shorts/abc' | ./urlcsc clean "$scheme://127.0.0.1:9149/clean"
            echo 'https://m.youtube.com/shorts/abc' | ./urlcsc clean "$scheme://127.0.0.1:9149/clean"                             --params-diff "$PARAMS_DIFF1"
            echo 'https://m.youtube.com/shorts/abc' | ./urlcsc clean "$scheme://127.0.0.1:9149/clean" --profile "youtube unshort"
            echo 'https://m.youtube.com/shorts/abc' | ./urlcsc clean "$scheme://127.0.0.1:9149/clean" --profile "youtube unshort" --params-diff "$PARAMS_DIFF1"

            echo 'https://youtube.com/shorts/abc'   | ./urlcsc clean "$scheme://127.0.0.1:9149/clean"
            echo 'https://youtube.com/shorts/abc'   | ./urlcsc clean "$scheme://127.0.0.1:9149/clean"                             --params-diff "$PARAMS_DIFF2"
            echo 'https://youtube.com/shorts/abc'   | ./urlcsc clean "$scheme://127.0.0.1:9149/clean" --profile "youtube unshort"
            echo 'https://youtube.com/shorts/abc'   | ./urlcsc clean "$scheme://127.0.0.1:9149/clean" --profile "youtube unshort" --params-diff "$PARAMS_DIFF2"
          ) <(
            echo 'https://www.youtube.com/shorts/abc'
            echo 'https://m.youtube.com/shorts/abc'
            echo 'https://www.youtube.com/watch?v=abc'
            echo 'https://m.youtube.com/watch?v=abc'

            echo 'https://www.youtube.com/shorts/abc'
            echo 'https://m.youtube.com/shorts/abc'
            echo 'https://www.youtube.com/watch?v=abc'
            echo 'https://m.youtube.com/watch?v=abc'
          )

          ! echo | ./urlcsc clean "$scheme://127.0.0.1:9149/clean" --profile "Unknown"
        done

        kill %1

    - name: 'Passwords'
      run: |
        PASSWORDS='["test"]'

        ./urlcs --passwords <(echo "$PASSWORDS") &
        sleep 1

        for scheme in http ws; do
          ! echo | ./urlcsc clean "$scheme://127.0.0.1:9149"
            echo | ./urlcsc clean "$scheme://127.0.0.1:9149" --password test
          ! echo | ./urlcsc clean "$scheme://127.0.0.1:9149" --password invalid
        done

        kill $!
