name: Site

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_dev_DEBUG: 0

jobs:
  site:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup
      run: |
        set -euo pipefail
        cargo build -p url-cleaner-site
        cp target/debug/url-cleaner-site urlcs

    - name: Order
      run: |
        ./urlcs &
        sleep 1
        ( echo '{"tasks":['; seq -s , -f '"https://%0.0f.com"' 127; echo ']}') | curl http://localhost:9149/clean -d @- | grep -oP 'http[^"]+' | sort -Vc
        kill $!

    - name: Ratelimit
      run: |
        i=0
        mins=( 0 0 0  0 0 3 )
        maxs=( 2 2 2  2 2 5 )
        for unthread_ratelimit in '' '--unthread-ratelimit 3'; do
          ./urlcs --cleaner example-cleaners/ratelimit-tester.json $unthread_ratelimit &> /dev/null &
          sleep 1
          for config in '' ',"unthread":false' ',"unthread":true'; do
            echo "i=$i, min=${mins[$i]}, max=${maxs[$i]}"
            echo -n "Testing 1x2: "
            start=$(date +%s);
            curl http://localhost:9149/clean -d '{"tasks":["https://example.com","https://example.com"]'$config'}' &> /dev/null
            time=$(($(date +%s) - $start))
            echo "$time"
            [[ ${mins[$i]} -le $time && $time -le ${maxs[$i]} ]]
            sleep ${mins[$i]}

            echo -n "Testing 2x1: "
            start=$(date +%s);
            curl http://localhost:9149/clean -d '{"tasks":["https://example.com"]'$config'}' &> /dev/null
            curl http://localhost:9149/clean -d '{"tasks":["https://example.com"]'$config'}' &> /dev/null
            time=$(($(date +%s) - $start))
            echo "$time"
            [[ ${mins[$i]} -le $time && $time -le ${maxs[$i]} ]]
            sleep ${mins[$i]}

            i=$(($i + 1))
          done
          kill $!
        done

    - name: Profiles
      run: |
        PROFILES='{"base":{"params_diff":{"flags":["unmobile"]}},"named":{"youtube_unshort":{"params_diff":{"flags":["youtube_unshort"]}}}}'
        PARAMS_DIFF1='{"unflags":["unmobile"]}'
        PARAMS_DIFF2='{"unflags":["unmobile"],"flags":["mobile"]}'

        ./urlcs --profiles-string "$PROFILES" &
        sleep 1

        diff -y <(
          curl -s http://127.0.0.1:9149/clean -d '{                                                               "tasks":["https://m.youtube.com/shorts/abc"]}'; echo
          curl -s http://127.0.0.1:9149/clean -d '{                             "params_diff":'"$PARAMS_DIFF1"',  "tasks":["https://m.youtube.com/shorts/abc"]}'; echo
          curl -s http://127.0.0.1:9149/clean -d '{"profile":"youtube_unshort"                                 ,  "tasks":["https://m.youtube.com/shorts/abc"]}'; echo
          curl -s http://127.0.0.1:9149/clean -d '{"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF1"',  "tasks":["https://m.youtube.com/shorts/abc"]}'; echo

          curl -s http://127.0.0.1:9149/clean -d '{                                                              "tasks":["https://youtube.com/shorts/abc"]}'; echo
          curl -s http://127.0.0.1:9149/clean -d '{                             "params_diff":'"$PARAMS_DIFF2"', "tasks":["https://youtube.com/shorts/abc"]}'; echo
          curl -s http://127.0.0.1:9149/clean -d '{"profile":"youtube_unshort"                                 , "tasks":["https://youtube.com/shorts/abc"]}'; echo
          curl -s http://127.0.0.1:9149/clean -d '{"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF2"', "tasks":["https://youtube.com/shorts/abc"]}'; echo
        ) <(
          echo '{"Ok":{"urls":[{"Ok":"https://www.youtube.com/shorts/abc"}]}}'
          echo '{"Ok":{"urls":[{"Ok":"https://m.youtube.com/shorts/abc"}]}}'
          echo '{"Ok":{"urls":[{"Ok":"https://www.youtube.com/watch?v=abc"}]}}'
          echo '{"Ok":{"urls":[{"Ok":"https://m.youtube.com/watch?v=abc"}]}}'

          echo '{"Ok":{"urls":[{"Ok":"https://www.youtube.com/shorts/abc"}]}}'
          echo '{"Ok":{"urls":[{"Ok":"https://m.youtube.com/shorts/abc"}]}}'
          echo '{"Ok":{"urls":[{"Ok":"https://www.youtube.com/watch?v=abc"}]}}'
          echo '{"Ok":{"urls":[{"Ok":"https://m.youtube.com/watch?v=abc"}]}}'
        )
