name: Site

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_dev_DEBUG: 0

jobs:
  site:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup
      run: |
        set -euo pipefail
        cargo build -p url-cleaner-site
        cp target/debug/url-cleaner-site urlcs

    - name: 'HTTP Output'
      run: |
        ./urlcs &
        sleep 1
        in=$(seq -f "https://%0.0f.com/" 127)
        [[ "$(echo "$in" | curl -f http://localhost:9149/clean --data-binary @- | grep .)" == "$in" ]]
        kill $!

    - name: 'HTTP Profiles'
      run: |
        PROFILES='
        {
          "base": {
            "params_diff": {
              "vars": {
                "client_type": "desktop"
              }
            }
          },
          "named": {
            "youtube_unshort": {
              "params_diff": {
                "flags": ["youtube_unshort"]
              }
            }
          }
        }'
        PARAMS_DIFF1='{"unvars": ["client_type"]}'
        PARAMS_DIFF2='{"vars": {"client_type": "mobile"}}'

        ./urlcs --profiles <(echo "$PROFILES") &
        site=$!
        sleep 1

        diff -y <(
          curl -sf "http://127.0.0.1:9149/clean"                                                                                     --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={                             "params_diff":'"$PARAMS_DIFF1"'}' --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={"profile":"youtube_unshort"                                 }' --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF1"'}' --data-binary 'https://m.youtube.com/shorts/abc'

          curl -sf "http://127.0.0.1:9149/clean"                                                                                     --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={                             "params_diff":'"$PARAMS_DIFF2"'}' --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={"profile":"youtube_unshort"                                 }' --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" --url-query 'config={"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF2"'}' --data-binary 'https://youtube.com/shorts/abc'

          curl -sf "http://127.0.0.1:9149/clean"                                                                                     --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {                             "params_diff":'"$PARAMS_DIFF1"'}' --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {"profile":"youtube_unshort"                                 }' --data-binary 'https://m.youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF1"'}' --data-binary 'https://m.youtube.com/shorts/abc'

          curl -sf "http://127.0.0.1:9149/clean"                                                                                     --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {                             "params_diff":'"$PARAMS_DIFF2"'}' --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {"profile":"youtube_unshort"                                 }' --data-binary 'https://youtube.com/shorts/abc'
          curl -sf "http://127.0.0.1:9149/clean" -H       'X-Config: {"profile":"youtube_unshort", "params_diff":'"$PARAMS_DIFF2"'}' --data-binary 'https://youtube.com/shorts/abc'
        ) <(
          echo 'https://www.youtube.com/shorts/abc'
          echo 'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo 'https://m.youtube.com/watch?v=abc'

          echo 'https://www.youtube.com/shorts/abc'
          echo 'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo 'https://m.youtube.com/watch?v=abc'

          echo 'https://www.youtube.com/shorts/abc'
          echo 'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo 'https://m.youtube.com/watch?v=abc'

          echo 'https://www.youtube.com/shorts/abc'
          echo 'https://m.youtube.com/shorts/abc'
          echo 'https://www.youtube.com/watch?v=abc'
          echo 'https://m.youtube.com/watch?v=abc'
        )

        ! curl -sf "http://127.0.0.1:9149/clean" -H 'X-Config: {"profile":"notfound"}' --data-binary ""

        kill $site

    - name: 'HTTP Passwords'
      run: |
        PASSWORDS='["test"]'

        ./urlcs --passwords <(echo "$PASSWORDS") &
        sleep 1

        ! curl -sf 'http://127.0.0.1:9149/clean'                                             --data-binary ''
        ! curl -sf 'http://127.0.0.1:9149/clean' --url-query 'config={}'                     --data-binary ''
          curl -sf 'http://127.0.0.1:9149/clean' --url-query 'config={"password":"test"}'    --data-binary ''
        ! curl -sf 'http://127.0.0.1:9149/clean' --url-query 'config={"password":"invalid"}' --data-binary ''

        kill $!

    - name: 'Load WebSocat from cache'
      id: websocat-cache
      uses: actions/cache@v4
      with:
        key: websocat-v4.0.0-alpha2
        path: ./websocat

    - name: 'Downlaod WebSocat from github'
      if: steps.websocat-cache.outputs.cache-hit != 'true'
      run: |
        curl 'https://github.com/vi/websocat/releases/download/v4.0.0-alpha2/websocat.x86_64-unknown-linux-musl' -Lo ./websocat
        chmod +x ./websocat

    - name: 'WebSocket Output'
      run: |
        ./urlcs &
        sleep 1
        in=$(seq -f "https://%0.0f.com/" 127)
        [[ "$(echo "$in" | ./websocat ws://127.0.0.1:9149/clean_ws | grep .)" == "$in" ]]
