name: Workspace

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_dev_DEBUG: 0

jobs:
  versions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Versions
      run: |
        set -euo pipefail
        version_lines=$(grep -PI '^(// @version|url-cleaner.+version|^version)' */Cargo.toml site/url-cleaner-site-userscript.js)
        versions=$(echo "$version_lines" | grep -oP '\d[\d.]+(-beta)?')
        if [ $(echo "$versions" | uniq | wc -l) -ne 1 ]; then
          pad_to=$(echo "$version_lines" | grep -oP '^.+?:' | wc -L)
          echo "Version mismatch!"
          echo "$version_lines" | sed -E ":a s/^(.{0,$pad_to}): ?/\1 : /; ta"
          exit 1
        fi

  mds:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: 'Check MDs'
      run: |
        old=$(cat *.md */*.md)
        scripts/fill-mds.sh
        test "$old" == "$(cat *.md */*.md)"

  msrv:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: 'Check MSRV consistency'
      run: |
        [[ "$(cat */Cargo.toml | grep -oP '(?<=^rust-version = \")[\d.]+' | sort -u | wc -l)" == 1 ]]

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: taiki-e/install-action@cargo-hack
    - name: Test
      run: cargo hack test --feature-powerset --clean-per-run --exclude url-cleaner-benchmarking

  doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: taiki-e/install-action@cargo-hack
    - name: Doc
      run: RUSTDOCFLAGS="-Dwarnings" cargo hack doc --feature-powerset --no-deps --clean-per-run --document-private-items --exclude url-cleaner-benchmarking

  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: taiki-e/install-action@cargo-hack
    - name: Clippy
      run: cargo hack clippy --feature-powerset --benches --clean-per-run --exclude url-cleaner-benchmarking -- -D warnings
