name: Workspace

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_dev_DEBUG: 0

jobs:
  workspace:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: taiki-e/install-action@cargo-hack

    - name: Versions
      run: |
        version_lines=$(grep -PI '^(// @version|url-cleaner.+version|^version)' */Cargo.toml site/url-cleaner-site-userscript.js)
        versions=$(echo "$version_lines" | grep -oP '\d[\d.]+(-beta)?')
        if [ $(echo "$versions" | uniq | wc -l) -ne 1 ]; then
          pad_to=$(echo "$version_lines" | grep -oP '^.+?:' | wc -L)
          echo "Version mismatch!"
          echo "$version_lines" | sed -E ":a s/^(.{0,$pad_to}): ?/\1 : /; ta"
          exit 1
        fi

    - name: 'Check MDs'
      run: |
        old=$(cat *.md */*.md)
        scripts/fill-mds.sh
        test "$old" == "$(cat *.md */*.md)"

    - name: 'Check MSRV consistency'
      run: |
        [[ "$(cat */Cargo.toml | grep -oP '(?<=^rust-version = \")[\d.]+' | sort -u | wc -l)" == 1 ]]

    - name: 'Resore cache'
      if: runner.environment == null
      uses: actions/cache/restore@v4
      with:
        key: ${{ runner.os }}-debug
        path: target

    - name: 'Test each feature'
      run: cargo hack test --each-feature

    - name: 'Document each feature'
      run: RUSTDOCFLAGS="-Dwarnings" cargo hack doc --each-feature --no-deps --document-private-items

    - name: 'Clippy powerset with default'
      run: cargo hack clippy --feature-powerset --at-least-one-of default,default -- -D warnings

    - name: 'Clippy each feature'
      run: cargo hack clippy --each-feature -- -D warnings

    - name: 'Clippy --benches powerset with default'
      run: cargo hack clippy --feature-powerset --at-least-one-of default,default --benches -- -D warnings

    - name: 'Clippy --benches each feature'
      run: cargo hack clippy --each-feature --benches -- -D warnings

    - name: 'Save cache'
      if: runner.environment == null
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-debug
        path: target
